#form {
    margin: auto;
    padding-top: 20px;
    width: 80%;
    border: 3px solid #343A40;
    padding: 10px;
  }

#submitbutton{
padding-top: 10px;
text-align: center;
align-items: center;
color: solid #1178A6;
}

#results {
    margin: auto;
    padding-top: 20px;
    width: 80%;
    border: 3px solid #343A40;
    padding: 10px;
  }

#table{
    text-align: center;
}