#form {
    margin: auto;
    padding-top: 20px;
    width: 60%;
    border: none;
    padding: 10px;
  }

#submitbutton{
padding-top: 10px;
text-align: center;
align-items: center;
color: solid #1178A6;
}

#results {
    margin: auto;
    padding-top: 20px;
    width: 80%;
    border: none;
    padding: 10px;
    text-align: center;
  }

#table{
    text-align: center;
}

.sort{
  background-color: white;
  font-weight: bold;
  border: none;
  color: black;
}

#table{
  width: 80%;
  margin: auto;
  align-self: center;
  background-color: white;
}